:root {
  --main-text-color: #2c2c2c;
  --green-color: #bbf330;
  --yellow-color: #ffe550;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
  font-size: 16px;
}

.container {
  width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
}

.offering-section {
  background-color: var(--yellow-color);
  padding: 100px 0;
}

.offering-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offering-left {
  padding: 24px;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.offering-right {
  width: 573px;
}
.offering-title {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}

.offering-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-bottom: 40px;
}

.offering-list {
  display: flex;
  gap: 67px;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

.icon-container {
  width: 48px;
  height: 48px;
  padding: 8px;
  background-color: #fefefe;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.offering-icon {
  fill: #7eb101;
}

.offering-subtitle {
  margin-bottom: 16px;
  color: #2c2c2c;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}

.offering-description {
  color: #2c2c2c;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.offering-button {
  display: inline-flex;
  height: 40px;
  padding: 10px 22px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 2px solid var(--Dark-green, #7eb101);
  background: #fff;
  color: var(--main-text-color);
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
}
